<?xml version="1.0" encoding="UTF-8"?>

<!--
    IBM Confidential
    OCO Source Materials
    (C) Copyright IBM Corp. 2018 All Rights Reserved.
    The source code for this program is not published or otherwise
    divested of its trade secrets, irrespective of what has
    been deposited with the U.S. Copyright Office.
-->

<plugin>

   	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			adaptable="true"
			objectClass="org.eclipse.core.resources.IProject"
			id="com.ibm.microclimate.ui.internal.wizards.LinkMicroclimateProjectWizard.id">
			<menu
				label="%CONTEXT_MENU_CATEGORY_NAME"
				path="additions"
				icon="%DEFAULT_ICON_PATH"
				id="com.ibm.microclimate.ui.internal.menu.category">
				<separator
					name="popupActions">
				</separator>
			</menu>
			<action
				label="%ACTION_LINK_TO_MICROCLIMATE"
				class="com.ibm.microclimate.ui.internal.wizards.LinkMicroclimateProjectDelegate"
				menubarPath="com.ibm.microclimate.ui.internal.menu.category/popupActions"
				icon="%DEFAULT_ICON_PATH"
				id="com.ibm.microclimate.ui.internal.wizards.LinkMicroclimateProjectDelegate.action.id">
			</action>
		</objectContribution>
	</extension>
	
   	<extension
         point="org.eclipse.ui.preferencePages">
         
         <page id="MicroclimateParentPage"
         	name="%PREFS_PARENT_PAGE_NAME"
         	class="com.ibm.microclimate.ui.internal.prefs.MicroclimatePrefsParentPage">
         </page>
         
         <page id="MicroclimateConnectionsPage"
         	name="%PREFS_CONNECTION_PAGE_NAME"
         	category="MicroclimateParentPage"
         	class="com.ibm.microclimate.ui.internal.prefs.MicroclimateConnectionPrefsPage">
         </page>    
   	</extension>
   
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			id="com.ibm.microclimate.core.internal.launchConfigurationTypeImage"
			configTypeID="com.ibm.microclimate.core.internal.launchConfigurationType"
			icon="%DEFAULT_ICON_PATH"/>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			id="com.ibm.microclimate.ui.internal.launchConfigurationTabGroup"
			type="com.ibm.microclimate.core.internal.launchConfigurationType"
			class="com.ibm.microclimate.ui.internal.MicroclimateLaunchConfigTabGroup"/>
	</extension>
	
  	<extension point="org.eclipse.core.expressions.propertyTesters">
    	<propertyTester
	      	id="com.ibm.microclimate.ui.internal.property.serverType"
	      	namespace="com.ibm.microclimate"
	      	properties="serverType"
	      	type="java.lang.Object"
	      	class="com.ibm.microclimate.ui.internal.MicroclimateServerPropertyTester"/>
  	</extension>
	
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="com.ibm.microclimate.ui.internal.popupMenu"
			objectClass="org.eclipse.wst.server.core.IServer">
		<visibility>
			<objectState name="serverType" value="%MICROCLIMATE_SERVER_ID"/>
		</visibility>
		<action
			id="com.ibm.microclimate.ui.internal.popupMenu.openApp"
			enablesFor="1"
			icon="%DEFAULT_ICON_PATH"
			label="%ACTION_OPEN_APP"
			class="com.ibm.microclimate.ui.internal.server.actions.OpenAppAction"/>
		</objectContribution>
	</extension>
	
	<extension point="org.eclipse.ui.decorators">
	    <decorator
	       id="com.ibm.microclimate.ui.internal.ServerDecorator"
	       label="%SERVER_DECORATOR_LABEL"
	       icon="%DEFAULT_ICON_PATH"
	       lightweight="true"
	       location="BOTTOM_RIGHT"
	       state="true"
	       class="com.ibm.microclimate.ui.internal.server.MicroclimateServerDecorator">
	      <enablement>
	        <or>
	          <objectClass name="org.eclipse.wst.server.core.IServer"/>
	        </or>
	      </enablement>
	    </decorator>
  	</extension>
  	
	<extension point="org.eclipse.wst.server.ui.serverImages">
	    <image
	      id="com.ibm.microclimate.ui.internal.server.img"
	      icon="%DEFAULT_ICON_PATH"
	      typeIds="microclimate.server"/>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
			id="com.ibm.microclimate.ui.internal.server.content"
			name="Microclimate Server NavigatorContent"
			icon="%DEFAULT_ICON_PATH"
			activeByDefault="true">
			   
			<enablement>
				<test
				forcePluginActivation="true"
				property="org.eclipse.wst.server.ui.serverType"
				value="%MICROCLIMATE_SERVER_ID"/>
			</enablement>
			
			<!--enablement>
				<adapt type="com.ibm.microclimate.core.server.MicroclimateServer"/>
			</enablement-->
			
			<!--triggerPoints>
				<adapt type="org.eclipse.wst.server.core.IServer"> 
				<test
				forcePluginActivation="true"
				property="org.eclipse.wst.server.ui.serverType"
				value="microclimate.server"/>
				</adapt>
			</triggerPoints-->
			
			<actionProvider
				dependsOn="org.eclipse.wst.server.ui.ServersView.ServerActionProvider"
				class="com.ibm.microclimate.ui.internal.server.actions.LogActionProvider">
			</actionProvider>
		</navigatorContent>
	</extension>

 	<!--extension
		point="org.eclipse.ui.newWizards">
     	<category
            name="Microclimate"
            id="com.ibm.microclimate.ui.internal">
     	</category>		
		<wizard
       		icon="%DEFAULT_ICON_PATH"
            id="com.ibm.microclimate.ui.internal.wizards.NewMicroclimateConnectionWizard"
            name="Plugin XML Wizard Description">
            <class class="com.ibm.microclimate.ui.internal.wizards.NewMicroclimateConnectionWizard"/>
          	<description>
            	New Microclimate Connection
         	</description>
         	<selection
            	class="org.eclipse.core.resources.IProject">
        	</selection>
      	</wizard>
   	</extension>
   
	<extension
		point="org.eclipse.ui.newWizards">
     	<category
            name="Microclimate"
            id="com.ibm.microclimate.ui.internal">
     	</category>		
		<wizard
       		icon="%DEFAULT_ICON_PATH"
            hasPages="true"
            id="com.ibm.microclimate.ui.internal.wizards.NewMicroclimateConnectionWizard"
            name="Plugin XML Wizard Description">
            <class class="com.ibm.microclimate.ui.internal.wizards.NewMicroclimateConnectionWizard"/>
          	<description>
            	New Microclimate Project
         	</description>
         	<selection
            	class="org.eclipse.core.resources.IProject">
        	</selection>
      	</wizard>
   </extension-->
</plugin>
