<?xml version="1.0" encoding="UTF-8"?>

<!--
    IBM Confidential
    OCO Source Materials
    (C) Copyright IBM Corp. 2018 All Rights Reserved.
    The source code for this program is not published or otherwise
    divested of its trade secrets, irrespective of what has
    been deposited with the U.S. Copyright Office.
-->

<plugin>

   	<extension
         point="org.eclipse.ui.preferencePages">
         
         <page id="MicroclimateParentPage"
         	name="%PREFS_PARENT_PAGE_NAME"
         	class="com.ibm.microclimate.ui.internal.prefs.MicroclimatePrefsParentPage">
         </page>
         
         <page id="MicroclimateConnectionsPage"
         	name="%PREFS_CONNECTION_PAGE_NAME"
         	category="MicroclimateParentPage"
         	class="com.ibm.microclimate.ui.internal.prefs.MicroclimateConnectionPrefsPage">
         </page>    
   	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			id="com.ibm.microclimate.core.internal.launchConfigTypeImage"
			configTypeID="com.ibm.microclimate.core.internal.launchConfigType"
			icon="%DEFAULT_ICON_PATH"/>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			id="com.ibm.microclimate.ui.internal.launchConfigTabGroup"
			type="com.ibm.microclimate.core.internal.launchConfigType"
			class="com.ibm.microclimate.ui.internal.MicroclimateLaunchConfigTabGroup"/>
	</extension>

	<!--  Extensions for Microclimate Explorer View -->

	<extension point="org.eclipse.ui.views"> 
		<category
			id="com.ibm.microclimate.ui.views"
			name="%MICROCLIMATE_CATEGORY_NAME"/>
		<view
			id="com.ibm.microclimate.ui.explorerView"
			name="%MICROCLIMATE_VIEW_NAME"
			category="com.ibm.microclimate.ui.views"
			allowMultiple="false"
			icon="%DEFAULT_ICON_PATH"
			class="com.ibm.microclimate.ui.internal.views.MicroclimateExplorerView"/>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding
			viewerId="com.ibm.microclimate.ui.explorerView">
			<includes>
				<contentExtension
					pattern="com.ibm.microclimate.ui.navigatorContent"/>
			</includes>
		</viewerContentBinding>
	</extension>
    
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
			name="%NAVIGATOR_CONTENT_NAME"
			icon="%DEFAULT_ICON_PATH"
			activeByDefault="true"
			contentProvider="com.ibm.microclimate.ui.internal.views.MicroclimateNavigatorContentProvider"
			labelProvider="com.ibm.microclimate.ui.internal.views.MicroclimateNavigatorLabelProvider"  
			id="com.ibm.microclimate.ui.navigatorContent"> 
			<enablement>
				<or>
					<instanceof value="org.eclipse.core.resources.IWorkspaceRoot" />
				</or>
			</enablement>
		</navigatorContent>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="com.ibm.microclimate.ui.appObjectActions"
			objectClass="com.ibm.microclimate.core.internal.MicroclimateApplication">
			<action
				id="com.ibm.microclimate.ui.importApplication"
				enablesFor="1"
				label="%ACTION_IMPORT_PROJECT"
				class="com.ibm.microclimate.ui.internal.actions.ImportProjectAction"/>
			<action
				id="com.ibm.microclimate.ui.openApplication"
				enablesFor="1"
				icon="%DEFAULT_ICON_PATH"
				label="%ACTION_OPEN_APP"
				class="com.ibm.microclimate.ui.internal.actions.OpenAppAction"/>
			<action
				id="com.ibm.microclimate.ui.toggleConsoles"
				enablesFor="1"
				label="%ACTION_SHOW_CONSOLES"
				style="toggle"
				state="false"
				class="com.ibm.microclimate.ui.internal.actions.ToggleConsolesAction"/>
			<action
				id="com.ibm.microclimate.ui.enableDebug"
				enablesFor="1"
				label=""
				class="com.ibm.microclimate.ui.internal.actions.EnableDebugAction"/>
			<action
				id="com.ibm.microclimate.ui.buildApplication"
				enablesFor="1"
				label="%ACTION_START_BUILD"
				class="com.ibm.microclimate.ui.internal.actions.StartBuildAction"/>
			<action
				id="com.ibm.microclimate.ui.enableDisableAutoBuild"
				enablesFor="1"
				label=""
				class="com.ibm.microclimate.ui.internal.actions.EnableDisableAutoBuildAction"/>
			<action
				id="com.ibm.microclimate.ui.enableDisableApplication"
				enablesFor="1"
				label=""
				class="com.ibm.microclimate.ui.internal.actions.EnableDisableProjectAction"/>
			<action
				id="com.ibm.microclimate.ui.refreshApplication"
				enablesFor="1"
				label="%ACTION_REFRESH"
				class="com.ibm.microclimate.ui.internal.actions.RefreshAction"/>
		</objectContribution>
		<objectContribution
			id="com.ibm.microclimate.ui.appObjectActions"
			objectClass="com.ibm.microclimate.core.internal.connection.MicroclimateConnection">
			<action
				id="com.ibm.microclimate.ui.refreshConnection"
				enablesFor="1"
				label="%ACTION_REFRESH"
				class="com.ibm.microclimate.ui.internal.actions.RefreshAction"/>
		</objectContribution>
	</extension>
	
	<extension point="org.eclipse.ui.viewActions">
		<viewContribution
			id="com.ibm.microclimate.ui.explorerViewActions"
			targetID="com.ibm.microclimate.ui.explorerView">
			<action
				id="com.ibm.microcliamte.ui.createConnectionAction"
				label="%NEW_CONNECTION_MENU_LABEL"
				menubarPath="additions"
				toolbarPath="additions" 
				icon="%DEFAULT_ICON_PATH"
				class="com.ibm.microclimate.ui.internal.actions.CreateConnectionAction">
			</action>
		</viewContribution>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category
			id = "com.ibm.microclimate.ui.new"
			 name="%MICROCLIMATE_CATEGORY_NAME">
		</category>
		<wizard
			id="com.ibm.microcliamte.ui.wizards.newConnection"
			name="%NEW_CONNECTION_MENU_LABEL"
			class="com.ibm.microclimate.ui.internal.wizards.NewMicroclimateConnectionWizard"
			category="com.ibm.microclimate.ui.new"
			icon="%DEFAULT_ICON_PATH">
			<description>%NEW_CONNECTION_DESCRIPTION</description>
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>

</plugin>
