<?xml version="1.0" encoding="UTF-8"?>

<!--
    IBM Confidential
    OCO Source Materials
    (C) Copyright IBM Corp. 2018 All Rights Reserved.
    The source code for this program is not published or otherwise
    divested of its trade secrets, irrespective of what has
    been deposited with the U.S. Copyright Office.
-->

<plugin>
<extension point="org.eclipse.wst.server.core.serverTypes">
	<serverType
		id="%MICROCLIMATE_SERVER_ID"
		name="%SERVER_NAME"
		description="%SERVER_DESCRIPTION"
		supportsManualCreation="false"
		hasConfiguration="false"
		launchModes="run,debug"
		startTimeout="90000"
		stopTimeout="45000"
		initialState="unknown"
		supportsRemoteHosts="false"
		runtime="false"
		launchConfigId="com.ibm.microclimate.core.internal.launchConfigurationType"
		class="com.ibm.microclimate.core.internal.server.MicroclimateServer"
		behaviourClass="com.ibm.microclimate.core.internal.server.MicroclimateServerBehaviour">
	</serverType>
</extension>
 
<!-- This relies on com.ibm.microclimate.ui org.eclipse.debug.ui.launchConfigurationTabGroups extension -->
<extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
      id="com.ibm.microclimate.core.internal.launchConfigurationType"
      name="%LAUNCH_CONFIG_NAME"
      delegate="com.ibm.microclimate.core.internal.server.debug.MicroclimateServerLaunchConfigDelegate"
      modes="run, debug"
      public="false"
      sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
      sourcePathComputerId="com.ibm.microclimate.core.internal.MicroclimateSourcePathComputer"/>
</extension>

<extension point="org.eclipse.debug.core.sourcePathComputers">
	<sourcePathComputer
		id="com.ibm.microclimate.core.internal.MicroclimateSourcePathComputer"
		class="com.ibm.microclimate.core.internal.server.debug.MicroclimateSourcePathComputer"
		name="Microclimate Source Path Computer">
	</sourcePathComputer>
</extension>


</plugin>
