<plugin>
<extension point="org.eclipse.wst.server.core.serverTypes">
	<serverType
		id="%MICROCLIMATE_SERVER_ID"
		name="%SERVER_NAME"
		description="%SERVER_DESCRIPTION"
		supportsManualCreation="false"
		hasConfiguration="false"
		launchModes="run,debug"
		startTimeout="90000"
		stopTimeout="45000"
		initialState="unknown"
		supportsRemoteHosts="false"
		runtime="false"
		launchConfigId="com.ibm.microclimate.core.launchConfigurationType"
		class="com.ibm.microclimate.core.server.MicroclimateServer"
		behaviourClass="com.ibm.microclimate.core.server.MicroclimateServerBehaviour">
	</serverType>
</extension>
 
<!-- This relies on com.ibm.microclimate.ui org.eclipse.debug.ui.launchConfigurationTabGroups extension -->
<extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
      id="com.ibm.microclimate.core.launchConfigurationType"
      name="%LAUNCH_CONFIG_NAME"
      delegate="com.ibm.microclimate.core.server.debug.MicroclimateServerLaunchConfigDelegate"
      modes="run, debug"
      sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
      sourcePathComputerId="com.ibm.microclimate.core.MicroclimateSourcePathComputer"/>
</extension>

<extension point="org.eclipse.debug.core.sourcePathComputers">
	<sourcePathComputer
		id="com.ibm.microclimate.core.MicroclimateSourcePathComputer"
		class="com.ibm.microclimate.core.server.debug.MicroclimateSourcePathComputer"
		name="Microclimate Source Path Computer">
	</sourcePathComputer>
</extension>


</plugin>
